{% extends 'base.html' %}

{% block content %}
<a class="btn btn-warning btn-lg btn-block" href="{% url 'evac:new_evac_team' %}">CREATE NEW EVAC TEAM</a>
<a class="btn btn-warning btn-lg btn-block" href="{% url 'evac:current_evac_team_list' %}">EVAC TEAM LIST</a>
<a class="btn btn-warning btn-lg btn-block" href="">DEPLOY EVAC TEAM</a>
<a class="btn btn-warning btn-lg btn-block" href="">EVAC TEAM DEBRIEF</a>
<a class="btn btn-warning btn-lg btn-block" href="{% url 'evac:new_team_member' %}">ADD TEAM MEMBER</a>
<br>
<br>
<a class="btn btn-secondary btn-lg btn-block"  href="{% url 'home' %}">BACK</a>
{% endblock %}
