*.pyc
*._*
config/secrets.json
frontend/node_modules
node_modules
.cache
.local
.npm
.virtualenvs
.vscode
.vscode-server
.bahsh-git-prompt
env/lib
venv
env
bill
bill2
take_two
.bash-git-prompt
.bash_history
.bashrc
.config
.gitconfig
.pylint.d
.python_history
.ssh
package-lock.json
.gitignore
frontend/package-lock.json
frontend/package.json
.viminfo