apig-wsgi
awscli
boto3
channels
channels_postgres
Django==3.2.18
django-activity-stream
django-cors-headers
django-filter
django-rest-knox
django-ordered-model
django_smtp_ssl
djangorestframework>=3.12
django-storages==1.13.2
django-rest-passwordreset
ipython
sartopo-python==2.0.0
pillow
psycopg2-binary
pytz==2018.9
