awscli
Django>=3.1
django-activity-stream
django-cors-headers
django-filter
django-rest-knox
djangorestframework>=3.12
django-storages
geocoder==1.38.1
ipython
pillow
psycopg2-binary
pytz==2018.9
zappa
