awscli
Django>=3.1
django-activity-stream
django-cors-headers
django-filter
django-rest-knox
django-ordered-model
django-ses
djangorestframework>=3.12
django-storages
drf-yasg
django-rest-passwordreset
ipython
pillow
psycopg2-binary
pytz==2018.9
