  <h1>Animals</h1>
  <a class='btn btn-info' href="{% url 'animals:new_owned_animal' 'dog' owner.pk%}">+ Add Dog</a>
  <a class='btn btn-info'href="{% url 'animals:new_owned_animal' 'cat' owner.pk %}">+ Add Cat</a>
  <a class='btn btn-info' href="{% url 'animals:new_owned_animal' 'oth' owner.pk %}">+ Add Other</a>

  {% if animal_list %}
  <ul>
    {% for animal in animal_list %}
      <li><a href="{% url 'animals:animal_detail' animal.pk %}">{{animal.name}}</a></li>
    {% endfor %}
  </ul>
  {% else %}
    <p>THERE ARE CURRENTLY NO ANIMALS REGISTED</p>
  {% endif %}

