{% extends 'base.html' %}
{% load crispy_forms_tags %}
{{ my_form.media }}

{% block content %}
  {% if owner %}<h2>Owner: {{ owner }}</h2>{% endif %}
  <h1>Animal Information</h1>
<div id="app">
  <form action="" method="post">{% csrf_token %}
    <div class="section-1">
      <div class="row">
        <div class="col-6">
          {{ form.name|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.species|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          {{ form.sex|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ form.fixed|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ form.age|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ form.size|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.chipped|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.chip_info|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{ form.last_seen|as_crispy_field }}
        </div>
      </div>
    </div>
    <div class="section-2">
      <div class="row">
        <div class="col-12">
          {{ form.breed|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.pcolor|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.scolor|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{ form.markings|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.address|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.apartment|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          {{ form.city|as_crispy_field }}
        </div>
        <div class="col-4">
          {{ form.state|as_crispy_field }}
        </div>
        <div class="col-4">
          {{ form.zip_code|as_crispy_field }}
        </div>
      </div>
    </div>
    <div class="section-3">
      <div class="row">
        <div class="col-6">
          {{ form.med_needs|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.med_notes|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.diet_needs|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.diet_notes|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.collared|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.collar_info|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{ form.behavior_notes|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{ form.status|as_crispy_field }}
        </div>
      </div>
      {{ form.owner|as_crispy_field }}
      <input type="submit" value="Save" class='btn btn-success' id='submit-button'>
      <a class='btn btn-secondary' href="{% url 'animals:animal_list' %}">Cancel</a>
      <br>
      <br>
    </div>

  </form>
</div>

<br>
<br>

{% endblock %}
