{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{{ my_form.media }}
{% block content %}

<style>
    #id_image {
        opacity: 0;
        height: 600px;
        width: 1100px;
        margin: auto;
    }

    #image-label {
         margin: auto;
         height: 50px;
    }

    #imageResult {
        width: 500px;
        height: 500px;
        margin: auto;
        outline-color: black;
        outline-style: dashed;
        background-image: url("{% if animal.image %}{{ animal.image.url}}{% else %}{% static 'images/no_image_icon.png' %}{% endif %}");
        background-repeat: no-repeat;
        background-position: center center;
    }

    

</style>
<h1>{{ animal.name }}</h1>
<br>
<form id="image-upload" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div id="image-label" value="change image" disabled>
       <input id="id_image" class="btn btn-primary btn-lg btn-block form-control border-0" type="file" name="image" accept="image/*" required="" onchange="readURL(this);">
    </div>
<br>
<br>
<div>
        <div class="image-area bg-white"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
</div>
    <br>
    <br>
<input type="submit" value="Save" class='btn btn-success btn-lg btn-block' id='submit-button'>
<input class='btn btn-secondary btn-lg btn-block' type=button value="Back" onClick="javascript:history.go(-1);">
</form> 
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });
</script>
 {% endblock %}