{% extends "./base.html" %}
{% block content %}

<style>
    <!--Print CSS-->  
    #container-fluid {height:auto;}
    @media print {
        div.page-break {
            page-break-after: always;
            page-break-inside: avoid;
            position: relative;
        }
        #content
            {
            margin: 0px;
            padding: 0px;
            clear: both;
            background-color: gray;
            }
    }
    @page {margin:2cm;}

    body {
    color: #222 !important;
    background-color: #fff !important;}
    h1, h2, h3, h4, h5 {color: #222 !important;}
    .card {background-color: #fff !important;}
    .list-group-item { background-color: #fff !important; }   
    .col-9 {flex: 0 0 100%; max-width: 100%;}
    .header_col {width:25%;}
    .detail_info {font-weight: bold ;}
</style>

<div id="root">
    <div class="container-fluid " id="content">
        <div class="row">
            <span class="d-flex flex-column col-9" >
                <div class="mt-3 row" style="margin-bottom: -15px;">
                    <div class="d-flex col-12">
						<div class="header_col">
							Kennel No: <br/>
							<b class="header_col_text">{{ animals.shelter }} / {{ animals.room.building }} / {{ animals.room }}</b>
						</div>
						<div class="header_col">
							Animal No: <br/>
							<b class="header_col_text">{{ animals.id }}</b>
						</div>
						<div class="header_col" style="text-align:center;font-size:16px;">
							<b>Butte County<br/>
							Animal Control<br/></b>
							<b style="font-size:12px;">Kennel Card</b>
						</div>
						<div class="header_col" style="text-align:right;">
							{KENNEL LOGO}
						</div>
                    </div>
                </div>
                <hr>
			</span>
		</div>
        <br/>
        <div class="mt-3 card border-secondary col-9" >
            <div class="card-body  " >
        
                <div class="list-group list-group-flush" style="margin-top: -13px; margin-bottom: -13px;">
                    <div class="list-group-item">
                        <div class="row">
							<div class="pl-0 col-4">
								{% for pic in animals.animalimage_set.all %}
								<span style="margin-top: 5px;">
									<span style="text-transform: capitalize;"><img src="http://localhost:3000/media/{{ pic.image }}"/></span> 
								</span>
								{% endfor %}
							</div>
							<div class="pl-0 col-4">
                                <div class="mt-0 css-2b097c-container" id="sr_updates.0.animals.0.status">
                                    <div class=" css-1c7lcg3-control">
                                        <div class=" css-g1d714-ValueContainer">
                                            <div class=" css-1uccc91-singleValue detail_info_title">Name:</div>
											<div class=" css-1uccc91-singleValue detail_info">{{ animals.name }}</div>
                                            <div class=" css-1uccc91-singleValue detail_info_title">Color:</div>
											<div class=" css-1uccc91-singleValue detail_info">{{ animals.pcolor }} / {{ animals.scolor }}</div>
                                            <div class=" css-1uccc91-singleValue detail_info_title">Breed:</div>
											<div class=" css-1uccc91-singleValue detail_info">{{ animals.species }}</div>
											<div class=" css-1uccc91-singleValue detail_info_title">Sex:</div>
											<div class=" css-1uccc91-singleValue detail_info">{{ animals.sex }}</div>
											<div class=" css-1uccc91-singleValue detail_info_title">Age:</div>
											<div class=" css-1uccc91-singleValue detail_info">{{ animals.age }}</div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>
                
                <div class="mt-3 form-row">
                    <div class="mb-0 form-group col-3">
                        <label>Intake Date:</label>
                        <span class="d-flex">
                            <input class="datetime_picker form-control input" placeholder="{IntakeDate}" tabindex="0" type="text">
                        </span>
                    </div>
                    <div class="mb-0 form-group col-3">
                        <label>Review Date:</label>
                        <span class="d-flex">
                            <input class="datetime_picker form-control input" placeholder="{ReviewDate}" tabindex="0" type="text">
                        </span>
                    </div>
                    <div class="mb-0 form-group col-3">
                        <label>Intake Type:</label>
                        <span class="d-flex">
                            <input class="datetime_picker form-control input" placeholder="{IntakeType}" tabindex="0" type="text">
                        </span>
                    </div>
                    <div class="mb-0 form-group col-3">
                        <label>Intake By:</label>
                        <span class="d-flex">
                            <input class="datetime_picker form-control input" placeholder="{IntakeBy}" tabindex="0" type="text">
                        </span>
                    </div>
				</div>	
				<div class="mt-3 form-row">
					<div class="form-group col-9">
						<label class="form-label">Comments</label>
						<textarea name="sr_updates.0.notes" rows="10" type="text" id="sr_updates.0.notes" class="form-control notes"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} 

