{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <h1>Evacuation Request Form: Edit</h1>
  <form action="" method="post">{% csrf_token %}
      <div class = "row">
        <div class = "col-12">
          {{form.directions|as_crispy_field}}
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          {{form.verbal_permission|as_crispy_field}}
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          {{form.outcome|as_crispy_field}}
        </div>
      </div>
      <div class = "row">
        <div class = "col-6">
          {{form.key_provided|as_crispy_field}}
        </div>
        <div class = "col-6">
          {{form.forced_entry|as_crispy_field}}
        </div>
      </div>
    <input type="submit" value="Save" class='btn btn-success'>
  </form>

{% endblock %}
