{% extends 'base.html' %}

{% block content %}
  <h1>EVACUATION REQUEST NUMBER: {{evac_request.pk}}</h1>
  <p><strong>Time of Request:</strong> {{evac_request.timestamp}}</p>
  <p><strong>Verbal Permission:</strong> {{evac_request.verbal_permission}}</p>
  <p><strong>Location:</strong></p>
  <p>{{owner.address}} {{owner.apartment}} {{owner.city}} {{owner.state}} {{owner.zip_code}}</p>


  <h1>OWNER SUMMARY</h1>
  <p><strong>Name:</strong> {{owner.first_name}} {{owner.last_name}}</p>
  <p><strong>Home Phone:</strong> {{owner.home_phone}} </p>
  <p><strong>Work Phone:</strong> {{owner.work_phone}} </p>
  <p><strong>Cell Phone:</strong> {{owner.cell_phone}} </p>
  <p><strong>Best Contact:</strong> {{owner.best_contact}} </p>

  


  <h1>ANIMALS SUMMARY</h1>

  <a class='btn btn-info' href="{% url 'hotline:hotline_new_animal' evac_request.pk 'dog'%}">+ Add Dog</a>
  <a class='btn btn-info'href="{% url 'hotline:hotline_new_animal' evac_request.pk 'cat'%}">+ Add Cat</a>
  <a class='btn btn-info' href="{% url 'hotline:hotline_new_animal' evac_request.pk 'oth'%}">+ Add Other</a>

  {% for animal in owned_animal_list %}
    <h3><strong>Name:</strong> {{animal.name}}</h3>
    <p><strong>Species:</strong> {{animal.species}} </p>
    <p><strong>Sex:</strong> {{animal.sex}} </p>
    <p><strong>Breed:</strong> {{animal.breed}} </p>
    <p><strong>Status:</strong> {{animal.status}} </p>
  {% endfor %}
  <br>
  <br>
  <a class='btn btn-success' href="{% url 'hotline:hotline_landing' %}">Finish</a>
  <a class='btn btn-warning' href="{% url 'hotline:evac_request_edit' evac_request.pk %}">Edit Request</a>
  <a class='btn btn-secondary' href="{% url 'hotline:evac_request_list' %}">View Evacuation Request List</a>


{% endblock %}
