{% extends 'base.html' %}

{% block content %}
<a class="btn btn-warning btn-lg btn-block" href="{% url 'hotline:hotline_new_owner' %}">OWNER CALLING</a>
<a class="btn btn-warning btn-lg btn-block" href="{% url 'hotline:hotline_new_reporter' %}">NON-OWNER CALLING</a>
<a class="btn btn-warning btn-lg btn-block" href="{% url 'hotline:service_request_list' %}">ALL SERVICE REQUESTS</a>
<a class="btn btn-warning btn-lg btn-block" href="{% url 'hotline:service_request_list' 'unresolved' %}">UNRESOLVED SERVICE REQUESTS</a>
<a class="btn btn-warning btn-lg btn-block" href="{% url 'hotline:service_request_list' 'resolved' %}">RESOLVED SERVICE REQUESTS</a>
<br>
<br>
<a class="btn btn-primary btn-lg btn-block"  href="{% url 'home' %}">BACK</a>

{% endblock %}
