{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <h1>{{ status|title }} Service Requests</h1>
  <br>
  <form action="" method="post">{% csrf_token %}
    {{form.search|as_crispy_field}}
    <input type="submit" value="Search" class='btn btn-success btn-lg btn-block'>
  </form>
  <br>
  {% if service_requests %}
    {% for service_request in service_requests %}
      <a class='btn btn-warning btn-lg btn-block' href="{% url 'hotline:service_request_detail' service_request.pk %}">{{service_request}}</a>
        {% include "include/animal_table.html" with animals=service_request.animal_set.all %}
    {% endfor %}
  {% else %}
    <a class='btn btn-secondary btn-lg btn-block disabled'>NO {{ status|upper }} SERVICE REQUESTS FOUND</a>
  {% endif %}
  <br>
  <br>
  <input class='btn btn-secondary btn-lg btn-block' type=button value="Back" onClick="javascript:history.go(-1);">
{% endblock content %}

