{% extends 'base.html' %}

{% block content %}

  {% if service_request.owner %}
  <h1>Owner: {{service_request.owner.first_name}} {{service_request.owner.last_name}}</h1>
  <p><strong>Phone:</strong>
  {% if service_request.owner.home_phone %}{{service_request.owner.home_phone}} (H) {% endif %}
  {% if service_request.owner.work_phone %}{{service_request.owner.work_phone}} (W) {% endif %}
  {% if service_request.owner.cell_phone %}{{service_request.owner.cell_phone}} (C) {% endif %}
  </p>
  <p><strong>Best Contact:</strong> {{service_request.owner.best_contact}} </p>
  <p><strong>Location:</strong> {{service_request.owner.address}} {{service_request.owner.apartment}} {{service_request.owner.city}} {{service_request.owner.state}} {{service_request.owner.zip_code}}</p>
  {% endif %}
  <p><strong>Request Time:</strong> {{service_request.timestamp}}</p>
  <p><strong>Verbal Permission:</strong> {{service_request.verbal_permission}}</p>
  {% include "minimap.html" with object=service_request %}
  <p></p>

  {% if service_request.animal_set.all %}
  <h1>ANIMALS</h1>
  {% include "include/animal_table.html" with animals=service_request.animal_set.all %}
  {% endif %}
  <br>
  <br>
  <a class='btn btn-success btn-lg btn-block' href="{% url 'hotline:service_request_add_animal' service_request.pk 'dog'%}">Add Dog</a>
  <a class='btn btn-success btn-lg btn-block'href="{% url 'hotline:service_request_add_animal' service_request.pk 'cat'%}">Add Cat</a>
  <a class='btn btn-success btn-lg btn-block' href="{% url 'hotline:service_request_add_animal' service_request.pk 'oth'%}">Add Other</a>
  <br>
  {% if service_request.owner %}
  <a class='btn btn-info btn-lg btn-block' href="{% url 'people:owner_edit' service_request.owner.pk %}">Edit Owner</a>
  {% else %}
  <a class='btn btn-success btn-lg btn-block' href="{% url 'hotline:service_request_add_owner' service_request.pk %}">Add Owner</a>
  {% endif %}
  <a class='btn btn-info btn-lg btn-block' href="{% url 'hotline:service_request_update' service_request.pk %}">Update Request</a>
  <input class='btn btn-secondary btn-lg btn-block' type=button value="Back" onClick="javascript:history.go(-1);">
  <br>
{% endblock %}
