{% extends 'base.html' %}

{% block content %}
<h1>{{ building.name|upper }} BUILDING</h1>
<hr>
{% if building.room_set.exists %}
    {% for room in building.room_set.all %}
      <a class="btn btn-warning btn-lg btn-block" href="{% url 'shelter:room_detail' room.pk %}">{{ room }} ({{ room.counts }})</a>
    {% endfor %}
{% else %}
    <a class="btn btn-secondary btn-lg btn-block disabled">NO ROOMS CONFIGURED</a>
{% endif %}
<br>
<br>
<a class="btn btn-success btn-lg btn-block"  href="{% url 'shelter:room' building.pk %}">ADD ROOM</a>
<a class="btn btn-info btn-lg btn-block"  href="{% url 'shelter:building' building.shelter.pk building.pk %}">EDIT BUILDING</a>
<a class="btn btn-secondary btn-lg btn-block"  href="{% url 'shelter:shelter_detail' building.shelter.pk %}">BACK</a>
{% endblock %}
