{% extends 'base.html' %}

{% block content %}
  <h1>SELECT ROOM FOR {{ animal.name|upper }}</h1>
  <hr>
  {% if rooms %}
    {% for room in rooms %}
      <a class="btn btn-warning btn-lg btn-block" href="{% url 'shelter:shelter_animal_cage_select' animal.pk room.pk %}">{{ room }}</a>
    {% endfor %}
  {% else %}
    <a class="btn btn-secondary btn-lg btn-block disabled">NO ROOMS CONFIGURED FOR {{ building }}</a>
  {% endif %}
  <br>
  <br>
  <a class="btn btn-secondary btn-lg btn-block"  href="{% url 'shelter:shelter_animal_building_select' animal.pk building.shelter.pk %}">BACK</a>
{% endblock %}
