{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>ADD ROOM TO {{ form.building.initial }} BUILDING</h1>
<hr>
<div id="app">
  <form action="" method="post">{% csrf_token %}
      <div class="row">
        <div class="col-6">
          {{ form.name|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.description|as_crispy_field }}
        </div>
      </div>
    {{ form.building|as_crispy_field }}
    <input type="submit" value="Save" class='btn btn-success btn-lg btn-block' id='submit-button'>
    <input class='btn btn-secondary btn-lg btn-block'  type=button value="Back" onClick="javascript:history.go(-1);">
  </form>
</div>
<br>
<br>
{% endblock %}