{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center">{{ shelter }} SHELTER</h1>
<hr>
{% if shelter.building_set.exists %}
  {% for building in shelter.building_set.all %}
    <a class="btn btn-warning btn-lg btn-block" href="{% url 'shelter:building_detail' building.pk %}">{{ building }}</a>
  {% endfor %}
{% else %}
    <a class="btn btn-secondary btn-lg btn-block disabled">NO BUILDINGS CONFIGURED</a>
{% endif %}
<br>
<br>
<a class="btn btn-success btn-lg btn-block"  href="{% url 'shelter:building' shelter.pk %}">ADD BUILDING</a>
<a class="btn btn-info btn-lg btn-block"  href="{% url 'shelter:shelter' shelter.pk %}">EDIT SHELTER</a>
<a class="btn btn-primary btn-lg btn-block"  href="{% url 'shelter:shelter_landing' %}">BACK</a>
{% endblock %}
