{% extends 'base.html' %}

{% block content %}
  <h1>SELECT SHELTER FOR {{ animal.name|upper }}</h1>
  <hr>
  {% if shelters %}
    {% for shelter in shelters %}
      <a class="btn btn-warning btn-lg btn-block" href="{% url 'shelter:shelter_animal_building_select' animal.pk shelter.pk %}">{{ shelter }}</a>
    {% endfor %}
  {% else %}
    <a class="btn btn-secondary btn-lg btn-block disabled">NO SHELTERS CONFIGURED</a>
  {% endif %}
  <br>
  <br>
  <a class="btn btn-secondary btn-lg btn-block"  href="{% url 'animals:animal_detail' animal.pk %}">BACK</a>
{% endblock %}
