<table class="table table-bordered" style='margin-top:2px'>
  <thead>
     <tr>
       <th scope="col">Name</th>
       <th scope="col">Species</th>
       <th scope="col">Description</th>
       <th scope="col">Sex</th>
       <th scope="col">Actions</th>
     </tr>
   </thead>
   <tbody>
    {% if animals %}
      {% for animal in animals %}
       <tr>
         <td scope="row"><a href="{% url 'animals:animal_detail' animal.pk %}">{{ animal.name|title }}</a></td>
         <td>{{ animal.species|title }}</td>
         <td> Color: {{ animal.pcolor|title }}/{{ animal.scolor|title }}</td>
         <td>{{ animal.sex|title }}</td>
         <td>
            <a class="btn btn-success" href="{% url 'shelter:shelter_animal_shelter_select' animal.pk %}">{% if animal.room %}Move{% else %}Shelter{% endif %} Animal</a>
        </td>
       </tr>
       {% endfor %}
     {% else %}
      <tr>
        <td>No animals</td>
      </tr>
      {% endif %}
    </tbody>
  </table>