<table class="table table-bordered" style='margin-top:2px'>
  <thead>
     <tr>
       <th scope="col">Name</th>
       <th scope="col">Species</th>
       <th scope="col">Breed</th>
       <th scope="col">Sex</th>
     </tr>
   </thead>
   <tbody>
    {% if animals %}
      {% for animal in animals %}
       <tr>
         <td scope="row"><a href="{% url 'animals:animal_detail' animal.pk %}">{{ animal.name|title }}</a></td>
         <td>{{ animal.species|title }}</td>
         <td>{{ animal.breed|title }}</td>
         <td>{{ animal.sex|title }}</td>
       </tr>
       {% endfor %}
     {% else %}
      <tr>
        <td>No animals</td>
      </tr>
      {% endif %}
    </tbody>
  </table>