backcall==0.1.0
Click==7.0
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
Django==2.1.7
django-crispy-forms==1.7.2
et-xmlfile==1.0.1
ez-setup==0.9
Flask==1.0.2
geos==0.2.1
ipdb==0.12
ipython==7.4.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.2.5
MarkupSafe==1.1.0
matplotlib==3.0.2
mysql-connector==2.1.6
numpy==1.15.4
openpyxl==2.5.3
pandas==0.23.4
parso==0.4.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
psycopg2==2.7.7
Pygments==2.3.1
pyparsing==2.3.0
PyPDF2==1.26.0
pyperclip==1.5.32
python-dateutil==2.7.5
pytz==2018.7
Send2Trash==1.5.0
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
xlrd==1.1.0
XlsxWriter==1.0.4
