{% extends 'base.html' %}

{% block content %}
  <ul>
    <a class="btn btn-warning btn-lg btn-block" href="{% url 'people:owner_list' %}">Owners</a>
    <a class="btn btn-warning btn-lg btn-block" href="{% url 'animals:animal_list' %}">Animals</a>
    <a class="btn btn-warning btn-lg btn-block" href="{% url 'hotline:hotline_landing' %}">Hotline</a>
    <a class="btn btn-warning btn-lg btn-block" href="{% url 'evac:evac_landing' %}">Evac</a>
    <a class="btn btn-warning btn-lg btn-block" href="{% url 'intake:intake_landing' %}">Intake</a>
  </ul>
{% endblock %}
