{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/main.5e4930a6.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <title>React App</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
  <script type="text/javascript" src="{% static 'js/main.9b01a09f.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/651.chunk.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/498.chunk.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/703.chunk.js' %}"></script>
</html>
