body {
  margin: 0 !important;
  color: #fff !important;
  background-color: #222 !important;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 0.9375rem !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

h1, h2, h3, h4, h5 {
  color: #fff !important;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc !important;
  margin: 1em 0; padding: 0; }

.text-border {
    margin-top: -15px;
    margin-left: -8px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* Leaflet map CSS */
.leaflet-container { width: auto; height: 55vh;}

.landing-leaflet-container { width: auto; height: 311px; min-height:311px;}

.search-leaflet-container { width: auto; height: 200px; min-height:200px;}

.leaflet-top, .leaflet-bottom {
  z-index: 400 !important;
}

/* Image gallery display CSS */
.carousel img {
  height: 320px;
  width: 320px;
  object-fit: cover;
  overflow: hidden;
}

/* Grey out disabled fields CSS */
input[disabled] {
  color: #999999;
  background-color: #DFDDDD !important;
  background-image: none;
}

/* DatetimePicker fixed min width CSS */
.datetime_picker {
  width:213px;
  min-width:213px;
}

.hide-input {
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Typeahead CSS */
.rbt-token {
  color: #222 !important;
}

.invalid-form {
  display: block !important;
  font-size: 100% !important;
}

.custom-page-links .page-link {
  background-color: #444444 !important;
}

.custom-page-links .page-link:hover {
  background-color: #2b4764!important;
}

.custom-page-links .page-item.active .page-link {
  background-color: #375a7f !important ;
}

.custom-page-links .page-item.disabled .page-link {
  background-color: #444!important ;
}

/* Shelter drag and drop CSS */
.unroomed_animals {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
  display: flex;
  min-height: 67px;
}
::-webkit-scrollbar {display:none;}

.unroomed_animals li {
  margin-right: 1em;
  margin-bottom: 1em;
}

.animals {
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  margin-bottom: -45px;
}

.animals li {
  align-items: center;
  margin-bottom: 1em;
}

/* Icon CSS */
.fa-move-down {
  transform: translateY(5%);
}

.fa-move-up {
  transform: translateY(-5%);
}

.icon-border {
  stroke: black;
  stroke-width: 30;
}

.icon-thin {
  transform: scale(.5,1.35);
}
