body {
  margin: 0 !important;
  color: #fff !important;
  background-color: #222222 !important;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 0.9375rem !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

h1, h2, h3, h4, h5 {
  color: #fff !important;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc !important;
  margin: 1em 0; padding: 0; }

.text-border {
    margin-top: -15px;
    margin-left: -8px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* Leaflet map CSS */
.leaflet-container { width: auto; height: 55vh;}

.landing-leaflet-container { width: auto; height: 350px; min-height:350px;}

.dispatch-leaflet-container { width: auto; height: 309px; min-height:309px;}

.search-leaflet-container { width: auto; height: 200px; min-height:200px;}

.da-search-leaflet-container { width: auto; height: 204px; min-height:204px;}

.leaflet-top, .leaflet-bottom {
  z-index: 400 !important;
}

/* Image gallery display CSS */
.carousel img {
  height: 320px;
  width: 320px;
  object-fit: cover;
  overflow: hidden;
}

/* Grey out disabled fields CSS */
input[disabled] {
  color: #999999;
  background-color: #DFDDDD !important;
  background-image: none;
}

.daterange_picker {
  margin-left: 16px;
  width:200px;
  text-align: center;
}

/* DatetimePicker fixed min width CSS */
.datetime_picker {
  width:213px;
  min-width:213px;
}

.hide-input {
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Typeahead CSS */
.rbt-token {
  color: #222 !important;
}

.invalid-form {
  display: block !important;
  font-size: 100% !important;
}

.rbt-input-wrapper {
  height: 29px;
}

.custom-page-links .page-link {
  background-color: #444!important;
}

.custom-page-links .page-link:hover {
  background-color: #2b4764!important;
}

.custom-page-links .page-item.active .page-link {
  background-color: #375a7f!important;
}

.custom-page-links .page-item.disabled .page-link {
  background-color: #444!important;
}

/* Shelter drag and drop CSS */
.unroomed_animals {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
  display: flex;
  min-height: 67px;
}

.unroomed_animals li {
  margin-right: 16px;
}

.animals {
  list-style: none;
  padding-left: 0;
}

.animals li {
  align-items: center;
  margin-bottom: 17px;
}

#tooltip-owners .tooltip-inner {
  text-align: left!important;
}

#tooltip-owner-contacted .tooltip-inner {
  text-align: left!important;
}

/* Icon CSS */
.fa-move-down {
  transform: translateY(5%);
}

.fa-move-up {
  transform: translateY(-5%);
}

.icon-border {
  stroke: black;
  stroke-width: 30;
}

.icon-thin {
  transform: scale(.5,1.35);
}

.hover-div:hover .shelter-icon {
  color: #b18662;
}

.hover-div:hover .building-icon {
  color: #b18662;
}

.shelter-link:hover {
  color: #b18662 !important;
}

.building-link:hover {
  color: #b18662 !important;
}

.shelter-hover-div:hover {
  border-color: #b18662 !important;
}

.shelter-hover-div:hover .border {
  border-color: #b18662 !important;
}

.shelter-hover-div:hover .border-right {
  border-color: #b18662 !important;
}

.animal-link:hover {
  color: #b18662 !important;
}

.animal-hover-div:hover .animal-icon {
  color: #b18662 !important;
}

.animal-hover-div:hover {
  border-color: #b18662 !important;
}

.animal-hover-div:hover .text-border {
  color: #b18662 !important;
}

.text-link:hover {
  color: #6657e7 !important;
  text-decoration: underline !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}