div.search_table > table {
  border-collapse: separate;
  border-spacing: 0 15px;
  max-width: 1250px;
}

div.search_table > table > tbody > tr > td {
  background: #ddd;
  padding: 5px 15px;
  border-radius: 1em;
}

div.search_table > hr {
  margin-bottom: 0;
}
