{% extends 'base.html' %}
{% block content %}
  <h1>Owners</h1>
  <br>
  <form class="form-inline my-1 my-lg-0">
      <input 
      class="form-control mr-sm-2" 
      type="search" placeholder="Search" 
      aria-label="Search"
      name='search'
      value="{{search_term}}">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br>
  {% if owner_list %}
  <ul>
    {% for owner in owner_list %}
      <li><a href="{% url 'people:owner_detail' owner.pk %}">{{owner.first_name}} {{owner.last_name}}</a></li>
    {% endfor %}
  </ul>
  {% else %}
    <p>NO RESULTS</p>
  {% endif %}
  
<input class='btn btn-primary'  type=button value="Back" onClick="javascript:history.go(-1);">

{% endblock %}
