{% extends 'base.html' %}

{% block content %}

  <h1>{{owner.first_name}} {{owner.last_name}}</h1>
  <hr>
  <div class="row">
    <div class="col-sm">
      <p><strong>Phone:</strong>
        {% if owner.home_phone %}{{ owner.home_phone }} (H) {% endif %}
        {% if owner.work_phone %}{{ owner.work_phone}} (W) {% endif %}
        {% if owner.cell_phone %}{{ owner.cell_phone}} (C) {% endif %}
      </p>
      <p><strong>Drivers License:</strong> {{owner.drivers_license}} </p>
      <p><strong>Best Contact:</strong> {{owner.best_contact}} </p>
      <p><strong>Address:</strong> {{ owner.location_output }}</p>
    </div>
    <div class="col-sm">
    {% if owner.servicerequest %}
        <p><strong>Time of Request:</strong> {{owner.servicerequest.timestamp}}</p>
        <p><strong>Verbal Permission:</strong> {{owner.servicerequest.verbal_permission}}</p>
        <p><strong>Request Location:</strong> {{ owner.servicerequest.location_output }}</p>
    {% endif %}
    </div>
  </div>
  {% if owner.animal_set.all %}
  <h1>ANIMALS</h1>
      {% include "include/animal_table.html" with animals=owner.animal_set.all %}
  {% endif %}
  <br>
  <br>
  <a class='btn btn-success btn-lg btn-block' href="{% url 'intake:intake_new_animal' owner.pk 'dog'%}">Add Dog</a>
  <a class='btn btn-success btn-lg btn-block'href="{% url 'intake:intake_new_animal' owner.pk 'cat'%}">Add Cat</a>
  <a class='btn btn-success btn-lg btn-block' href="{% url 'intake:intake_new_animal' owner.pk 'oth'%}">Add Other</a>
  <a class='btn btn-info btn-lg btn-block' href="{% url 'people:owner_edit' owner.pk %}">Update Owner</a>
  {% if owner.servicerequest %}
  <a class='btn btn-info btn-lg btn-block' href="{% url 'hotline:service_request_update' owner.servicerequest.pk %}">Update Request</a>
  {% endif %}
  <input class='btn btn-secondary btn-lg btn-block'  type=button value="Back" onClick="javascript:history.go(-1);">
  <br>
{% endblock %}

