{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Team Member</h1>
<form action="" method="post">{% csrf_token %}
    <div class="row">
        <div class="col-6">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
          {{ form.cell_phone|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.agency_id|as_crispy_field }}
        </div>
    </div>
<input type="submit" value="Save" class='btn btn-success' id='submit-button'>
<a class='btn btn-secondary' href="{% url 'evac:evac_landing' %}">Cancel</a>
</form>

{% endblock content %}